.box-blue {
    background-image: url(../images/right-head-busqueda.gif);
    background-position: top left;
    background-repeat: no-repeat;
    background-color: #A4A4A4;
    /*padding: 50px 0 10px 9px;*/
    /*width: 158px;*/
    /* Explorer */
    /**padding: 50px 0 0px 9px;
     _padding: 50px 0 10px 9px;*/
} .box-blue input {
    background-image: url(../images/bg-search-input.gif);
    background-position: top left;
    background-repeat: no-repeat;
    font-size: 12px;
    color: #9E9E9E;
    border: 0;
    padding: 2px 0 0 3px;
    padding-right: 15px;
    width: 106px;
    height: 18px;
} .box-gray .bot {
    background-image: url(../images/right-foot-encuesta.gif);
    background-position: top;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    height: 12px;
} .box-gray .btn-no {
    background-color: #969696;
    border: 0;
    font-size: 12px;
    color: #EFEFEF;
    width: 60px;
    float: left;
} .box-gray .btn-si {
    background-color: #40C4ED;
    border: 0;
    font-size: 12px;
    color: #E3F6FC;
    width: 60px;
    float: left;
    margin: 0 5px 0 0;
} .box-gray .mid {
    color: #FCFEFB;
    background-color: #E6E6E6;
    padding: 15px 0 10px 9px;
    width: 158px;
} .box-gray .top {
    background-image: url(../images/right-head-encuesta.gif);
    background-position: top;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    height: 38px;
} .box-gray p {
    color: #413F43;
    line-height: 14px;
} .box-green {
    color: #FCFEFB;
    background-color: #62CAA8;
    padding: 15px 0 20px 9px;
    margin: 5px 0 5px 0;
    width: 158px;
} .box-green h3, .box-orange h3, .box-pink h3 {
    font-size: 15px;
    margin: 5px 0 15px 0;
} .box-green p, .box-orange p, .box-pink p {
    font-size: 10px;
    line-height: 14px;
} .box-orange {
    color: #FCFEFB;
    background-color: #FCC25C;
    padding: 15px 0 20px 9px;
    margin: 5px 0 5px 0;
    width: 158px;
} .box-pink {
    color: #FCFEFB;
    background-color: #DD6972;
    padding: 15px 0 20px 9px;
    margin: 5px 0 5px 0;
    width: 158px;
} .box-tramite {
    background-image: url(../images/img-pasos-tramite-empty.gif);
    background-position: top;
    background-repeat: no-repeat;
    margin-bottom: 25px;
    line-height: 12px;
    font-size: 9px;
    height: 98px;
    color: #3B3B3B;
} .box-tramite strong {
    font-size: 11px;
} .content-center {
    padding: 3px 15px 20px 15px;
    background-color: #FFFFFF;
} .content-center-left {
    width: 511px;
} .content-center-left h2 span {
    color: #ECEBD7;
} .content-center-left p {
    color: #3C3C3C;
    line-height: 14px;
    margin-bottom: 3px;
} .content-center-left-gray {
    padding: 10px 15px 15px 15px;
    background-image: url(../images/bg-content-gray.gif);
    background-position: top;
    background-repeat: repeat-x;
    background-color: #F6F7F7;
    margin: 0 0 10px 0;
} .content-center-left-gray h2 {
    font-size: 15px;
    font-weight: bold;
    color: #4CC7EE;
    margin: 15px 0 10px 0;
} .content-center-left-top-green {
    /*background-color: #FFFFFF;*/
    /*background-image: url(../images/bg-content-center-left-top-green.gif);*/
    background-position: center top;
    /*background-repeat: no-repeat;*/
    height: 100px;
    /*padding-left: 17px;
     padding-right: 0;
     padding-top: 45px;
     width: 492px;*/
    background-color: #969696;
    width: 100%;
    background-repeat: no-repeat;
    margin: 0px 0 0 1px;
    /*soporta solo mozilla*/
    -moz-border-radius-topright: 10px;
    /*padding: 53px 0 0 16px;*/
} .content-center-left-top-green h2 {
    font-size: 20px;
    color: #F4F5F7;
    font-weight: normal;
} .content-center-right {
    float: right;
    width: 167px;
} .content-tab {
    /*background-image: url(../images/multimedia-combo-bg.gif);*/
    background-position: top;
    background-repeat: repeat-y;
    width: 468px;
    /*padding: 12px;*/
    /*margin:5px;*/
    border: solid;
    border-width: 1px;
    border-top: none;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-color: #c0c0c0;
} .content-tab input {
    height: 13px;
    background-color: #FFFFFF;
    border: 1px solid #D4D5D6;
} .content-tab textarea {
    background-color: #FFFFFF;
    border: 1px solid #D4D5D6;
} .footer {
    background-image: url(../images/bg-footer.jpg);
    background-position: top;
    background-repeat: no-repeat;
    padding: 17px;
    color: #CFD0D0;
    font-size: 9px;
} .header {
   /* background-image: url(../images/bg-header.gif);*/
    background-position: top;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    padding: 0 15px 0 15px;
} .header-mid {
    clear: both;
} .header-top {
    color: #616161;
   /* margin-top: 18px;*/
    clear: both;
    width: 682px;
    height: 18px;
} .header-top a {
    margin-top: 4px;
} .header-top a:active, .header-top a:visited, .header-top a:link {
    font-size: 11px;
    margin: 5px 0 0 0;
} .header-top li {
    float: left;
    margin: 0 20px 0 0;
} .header-top ul {
    float: right;
}



.header ul li .rss {
background-image:url("../images/icon-rss.gif");
background-position:5px 0;
background-repeat:no-repeat;
display:block;
padding:0 0 0 22px;
width:30px;
}

.header ul li {
color:#5C5C5C;
float:left;
font-size:11px;
}

 .hr-dashed-blue {
    border-bottom: 2px dashed #00ADE9;
    height: 10px;
    margin-bottom: 12px;
} .list-search {
    margin: 10px 0 0px 0;
    margin: -50px 0 0px 0;
    /*_margin: -40px 0 0px 0;*/
} .list-search a {
    font-size: 9px;
    margin-right: 3px;
    color: #443C49;
} .list-search img {
    margin-right: 3px;
} .m-banner {
    margin: 7px 0 7px 0;
} .menu {
    background-image: url(../images/bg-menu.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    margin: 6px 0 3px;
    clear: both;
    height: 33px;
} .menu div {
    float: right;
    height: 15px;
    margin-top: 9px;
    width: 120px;
} .menu div a {
    color: #FFFFFF;
    font-size: 11px;
} .menu ol, ul {
    list-style: none outside none;
    padding: 0px;
} .m-item-multimedia {
    width: 164px;
    float: left;
    font-size: 10px;
    color: #272526;
    margin: 15px 5px 0 0;
    padding: 0 0 15px;
    border-bottom: 1px dotted #676767;
} .m-item-multimedia a:link, .m-item-multimedia a:visited, .m-item-multimedia a:active {
    font-size: 12px;
    color: #00AEE7;
    line-height: 14px;
} .m-item-multimedia p {
    margin: 5px 0 5px 0;
} .m-multimedia-menu {
    background-image: url(../images/bg-multimedia-menu.gif);
    background-position: top;
    background-repeat: no-repeat;
    height: 37px;
    padding-left: 33px;
    padding-top: 16px;
    width: 466px;
} .m-multimedia-menu h4 {
    color: #62BEE7;
    float: left;
    margin-right: 25px;
    padding-top: 3px;
} .m-multimedia-menu ul {
    float: left;
    width: 300px;
} .mulimedia-tabs-content {
    margin: 10px 0 10px 0;
} .mulimedia-tabs-content ol, ul {
    list-style: none outside none;
    padding: 0;
} .mulimedia-tabs-content li {
    list-style: none outside none;
    padding: 0;
    margin-left: 0px;
} .mulimedia-tabs-content-foot {
    /*background-image: url(../images/multimedia-combo-bg-foot.gif);
     background-position: left top;
     background-repeat: no-repeat;
     height: 20px;*/
    width: 458px;
} .multimedia-form-label {
    margin: 3px 0 3px 0;
    font-size: 10px;
} .multimedia-tabs {
    overflow: hidden;
    border: solid;
    border-width: 1px;
    border-color: #c0c0c0;
    /*border-right:solid;
     border-right-width:0.5px;
     border-right-color:#c0c0c0;
     */
    /*border-left:solid;
     border-left-width:0.5px;
     border-left-color:#c0c0c0;
     */
    width: 468px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
} .multimedia-tabs li, .menu li, .content-center-left, .box-tramite div, .m-multimedia-menu li {
    float: left;
} .m-video-bar {
    margin-left: 5px;
    margin-top: 10px;
    height: 15px;
    color: #535552;
} .m-video-bar a:link, .m-video-bar a:visited, .m-video-bar a:active {
    color: #39A7DC !important;
    font-size: 11px;
} .m-video-left {
    float: left;
    width: 280px;
} .m-video-right {
    float: left;
    width: 211px;
    margin: 16px 5px 5px 12px;
} .m-video-right h2 {
    color: #41BEEC;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
} .m-video-right p {
    color: #686868;
    line-height: 15px;
} .tab img, .box-blue img, .box-gray .mid input {
    cursor: pointer;
}

/* Secciones multimedia N2 y N3 */ 
.coment-item {
    color: #7C7C7C;
    border-bottom: 2px dashed #e30713;
    margin: 10px 0 10px 0;
    clear: both;
    overflow: hidden;
} .coment-item h5 {
    color: #7C7C7C;
    width: 100px;
    font-size: 12px;
    margin-left: 13px;
    margin-top: 3px;
    margin-bottom: 3px;
} .coment-item h6 {
    color: #7C7C7C;
    width: 100px;
    font-size: 13px;
} .coment-item p {
    color: #545256;
    float: right;
    width: 340px;
    margin: 0 0 10px 0;
} .coment-item span {
    color: #7C7C7C;
    width: 100px;
    margin-left: 13px;
} .coment-item-left {
    float: left;
    width: 105px;
    margin: 0 0 0 15px;
    /* Explorer */
    /*_width: 120px;*/
} .hr-gray {
    border-bottom: 1px solid #DAD9D7;
    height: 1px;
    width: 502px;
    clear: both;
    margin-bottom: 15px;
} .hr-lo-ultimo {
    background-image: url(../images/multimedia-hr-lo-ultimo.gif);
    background-position: top;
    background-repeat: no-repeat;
    height: 35px;
    margin-top: 20px;
} .m-coment-bar {
    background-image: url(../images/multimedia-coment-bar.gif);
    /*background-position:right top;*/
    background-repeat: no-repeat;
    height: 20px;
    margin-top: 20px;
    padding-left: 32px;
    padding-right: 16px;
    padding-top: 8px;
} .m-coment-bar a {
    font-size: 11px;
} .pagination {
    text-align: right;
    margin: 10px 0 10px 0;
    color: #404042;
    height: 20px;
    font-weight: bold;
} .pagination .selected {
    color: #1FB9EB !important;
} .pagination a:link, .pagination a:visited, .pagination a:active {
    text-decoration: none;
    color: #A9A9A9;
    font-size: 11px;
    margin: 0 0 0 10px;
} .pagination a:hover {
    text-decoration: underline;
}

/* Seccion busqueda avanzada */ .clear-it {
    height: 0;
} .content-advanced-search {
    padding-left: 15px;
} .content-advanced-search .content-left {
    float: left;
    font-size: 10px;
    width: 360px;
    /* Explorer */
    width: 365px;
    margin: -10px 0 0 0;
} .content-advanced-search .content-left .anio {
    margin: 0 5px 0 0;
    width: 60px;
} .content-advanced-search .content-left .dia, .content-advanced-search .content-left .mes {
    margin: 0 5px 0 0;
    width: 45px;
} .content-advanced-search .content-left .label {
    color: #403F43;
    float: left;
    height: 25px;
    /*padding-top: 6px;*/
    width: 95px;
    /* Explorer */
    /*padding-top: 10px;*/
    width: 93px;
} .content-advanced-search .content-left select {
    border: 0;
    padding: 2px;
    font-size: 10px;
    color: #403F43;
    background-color: #E6E7E6;
} .content-advanced-search .keyword {
    /*background-image: url(../images/bg-keyword.gif);*/
    background-position: top right;
    background-repeat: no-repeat;
    background-color: #E6E7E6;
    border: 0 none;
    color: #403F43;
    float: left;
    font-size: 10px;
    font-weight: bold;
    /*height: 17px;*/
    padding: 4px;
    width: 248px;
} .content-advanced-search .label {
    color: #403F43;
    float: left;
    font-weight: bold;
    padding: 4px 0 0;
    width: 120px;
} .content-advanced-search .radio {
    margin: 4px;
    float: left;
} .content-advanced-search form {
    padding: 30px 0 0 0;
} .hr-gray-dashed {
    border-bottom: 1px dashed #DAD9D7;
    height: 1px;
    clear: both;
    margin: 13px 0 13px 0;
    /* Explorer */
    margin: 15px 0 0 0;
}

/* Seccion resulados de la busqueda */ .list-search {
    margin: -40px 0 0;
} .bar-gray {
    clear: both;
    background-color: #F3F3F3;
    padding: 4px;
    margin: 10px 0;
} .cyan {
    color: #4DAFDF;
} .h2-bg-gray {
    background-color: #F3F3F3;
    color: #403F43 !important;
    margin: 0 -15px 7px !important;
    padding: 3px 0 3px 15px;
} .h2-black {
    color: #403F43 !important;
} .result-content-object {
    float: left;
    margin: 0 10px 10px 0;
    width: 140px;
} .result-item {
    padding: 0 15px 10px 15px;
    border-bottom: 1px solid #B7B7B9;
    /* Explorer 6 */
    /*_padding: 0 15px 25px 15px;*/
} .result-item h2 {
    color: #4DAFDF;
    font-size: 10px;
    margin: 3px 0 8px 0;
} .result-item p {
    font-size: 10px;
    line-height: 15px;
    color: #716F72;
} .reult-search-info {
    color: #716F72;
    float: right;
    font-size: 10px;
    padding-top: 22px;
    width: 220px;
    /*text-align: right;*/
}

/* Seccion descargas */ /* CORRECCION IMPORTANTE!
 
 Antes de todo, REMPLAZAR el archivo global.css
 
 Quitar los atributos heigth con el hacks de Explorer 6
 Serian los que estan escritos de esta forma: _height:   (Con el guion bajo adelante)
 
 En las secciones
 remover el hack: multimedia-n2.html, multimedia-n3.html
 
 <style type="text/css">.content-center{_height: 1000px;}</style>
 
 */ .content-descargas {
    padding-left: 25px;
    padding-top: 20px;
    width: 410px;
} .content-descargas {
    color: #636363;
} .content-descargas-video {
    padding: 10px 0 10px 0;
} .content-list-descargas .column-1 .dark {
    background-color: #F0F0F0;
} .content-list-descargas .column-1 li {
    background-color: #F5F5F5;
    color: #52A1CE;
} .content-list-descargas .column-2 .dark {
    background-color: #F4F4F4;
} .content-list-descargas .column-2 li {
    background-color: #F8F8F8;
    color: #666666;
} .content-list-descargas .column-3 .dark {
    background-color: #E6E6E6;
} .content-list-descargas .column-3 li {
    background-color: #EFEFEF;
    color: #666666;
} .content-list-descargas div {
    float: left;
    margin: 6px 4px 0 0;
    width: 132px;
} .content-list-descargas li {
    padding: 4px 0 4px 15px;
} .hr-dashed-gray {
    border-bottom: 1px dotted #B2B2B2;
    height: 0;
}

/*modificado*/
/* Maqueta Tramites*/ .top-tramites {
    /*background-image:url(../images/bg-top-tramites2.gif);*/
    background-color: #B1C646;
    width: 97.5%;
    background-repeat: no-repeat;
    /*height: 30px;*/
    margin: 4px 0 0 1px;
    /*soporta solo mozilla*/
    -moz-border-radius-topright: 10px;
    padding: 53px 0 0 16px;
    /*border.radius: 10px;
     -moz-border-radius: 10px 0 10px 0;
     -webkit-border-radius: 10px;*/
}

/*
 bloque agregado:ini
 */ .top-tramites h2 {
    color: #F5FAE0;
    font-size: 20px;
    font-weight: normal;
} .content-tramites-gray {
    background-color: #ECEEED;
}

/* Maqueta tramites Impuesto inmobiliario */ .bar-realizar-tramite {
    border-top: 8px solid #dcdcdb;
    margin: 10px 0;
    padding: 7px;
} .bar-realizar-tramite-top {
    /*border-top: 8px solid #dcdcdb;*/
    margin: 10px 0;
    /*padding: 7px;*/
} .tramite_online_top {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
} .box-green-opinion {
    background-image: url(../images/box-green.gif);
    background-position: center top;
    background-repeat: no-repeat;
    color: #505044;
    height: 166px;
    margin: 10px 0 0;
    /*padding: 65px 10px 10px;*/
} .box-green-opinion div {
    font-size: 10px;
    height: 82px;
} .content-center-left-white {
    background-color: #ffffff;
    background-image: url(../images/bg-content-white.gif);
    background-position: center top;
    background-repeat: repeat-x;
    margin: 0 0 10px;
    /*padding: 10px 15px 15px;*/
} .content-center-left-white h2 {
    color: #e30713;
    font-size: 15px;
    font-weight: bold;
    margin: 15px 0 10px 0;
} .content-center-left-white ul {
    color: #3C3C3C;
    line-height: 14px;
    margin-bottom: 3px;
    list-style: disc;
}

/*.content-center-left-white li {
 padding:1px;
 }*/
/*.content-center-left-white #div_texto_tramite {
 margin:0px 0px 0px;
 padding:10px 0px 0px 0px;
 } */ .renderedtable {
    border: 1px solid;
    color: #808080;
} .content-tab-tramite {
    border-left: 1px solid #e3dedd;
    border-right: 1px solid #e3dedd;
    padding: 5px;
    width: 458px;
} .icon-print {
    float: right;
} .icon-print a {
    display: block;
    font-size: 11px;
    height: 17px;
    margin-left: 35px;
    margin-top: -16px;
    margin-right: 5px;
    width: 35px;
    color: #808080;
} .icon-volver {
    float: right;
} .icon-volver a {
    /*display: block;*/
    font-size: 11px;
    height: 17px;
    /*margin-left: 35px;*/
    /* margin-top: -16px;*/
    margin-right: 5px;
    width: 35px;
} .m-tramites-coment-bar {
    background-image: url(../images/multimedia-tramites-coment-bar.gif);
    background-position: center top;
    background-repeat: no-repeat;
    height: 20px;
    margin-top: 20px;
    padding-left: 32px;
    padding-right: 16px;
    padding-top: 8px;
} .mulimedia-tramite-tabs-content-foot {
    background-image: url(../images/multimedia-tramite-combo-bg-foot.gif);
    background-position: center top;
    background-repeat: no-repeat;
    height: 20px;
    width: 471px;
}

/* Maquetacion tramites home */ .banner-gray {
    margin: 8px 0;
} .body-stars {
   /* background-image: url(../images/bg-body-stars.gif);*/
    background-position: center top;
    background-repeat: no-repeat;
} .box-center-tramite {
    /*background-image: url(../images/bg-box-tramites-home.gif);*/
    background-repeat: no-repeat;
    float: left;
    height: 94px;
    /*margin: 10px 5px 0 0;*/
    /*padding: 19px 13px;*/
    margin-top: 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    /*margin-left:10px;*/
    width: 167px;
    height: 130px;
} .box-center-tramite h3 {
    color: #EBEBEA;
    font-size: 15px; /*cambio*/
    /*font-weight: normal;*/
    margin: 3px 10px 0 0px;
} .box-center-tramite p {
    /*color: #696868;*/
    color: #EBEBEA;
    font-size: 10px;
    line-height: 12px;
    margin: 5px 10px 0 0px;
} .box-subscripcion {
    /*padding: 8px 0;*/
} .content-center-left-top-blue {
    background-image: url(../images/bg-top-tramites-home.gif);
    background-repeat: no-repeat;
    height: 128px;
    width: 509px;
} .content-left-tramites-online {
    /*float: left;
     padding: 166px 0 0 6px;
     width: 167px;*/
    margin-top: 15px;
} .content-right-tramites-online {
    /*float: left;*/
    /*padding: 15px 0;*/
    /*width: 337px;*/
    color: #686868;
    width: 100%;
    margin-top: 5px;
} .content-right-tramites-online a:active, .content-right-tramites-online a:visited, .content-right-tramites-online a:link {
    text-decoration: none;
    color: #686868;
    font-size: 11px;
} .content-right-tramites-online a:hover {
    text-decoration: none;
    color: #0DAFDF;
    font-size: 11px;
} .content-right-tramites-online img {
    /*padding: 0 0 3px 0;*/
} .item-tramite-no-on-line {
    background: transparent url(../images/bg-item-tramites-no-on-line.gif) no-repeat scroll left top;
    border-bottom: 1px dashed #F7BFC2;
    /*max-height: 28px;
     height: 28px;*/
    margin-left: 1px;
    margin-top: 5px;
    overflow: hidden;
    cursor: pointer;
    font-size: 12px;
} .item-tramite-on-line {
    background: transparent url(../images/bg-item-tramites-on-line.gif) no-repeat scroll left top;
    border-bottom: 1px dashed #F7BFC2;
    /*max-height: 28px;
     height: 28px;*/
    margin-left: 1px;
    margin-top: 5px;
    overflow: hidden;
    cursor: pointer;
    font-size: 12px;
} .item-tramite-on-line a {
    color: #686868;
} .item-tramite-no-on-line a {
    color: #686868;
}

/*
 bloque agregado:fin
 */
/*modificado*/ .content-tramites-gray {
    background-color: #ECEEED;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*estilos para componentes basicos html especificos*/ .campo_texto {
    color: #686868;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
} .campo_select {
    color: #686868;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
} .campo_boton {
    color: #686868;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

/*este estilo se puede aplicar a textos o lo que sea necesario*/ .campo_generico {
    /*color: #545257;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #686868;
}

/*lucas: creo para redondear los tramites destacados*/ .destacados_redondeados {
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-toplef: 5px;
    /*background-color:#2F4154;*/
}

/*para nivel 2*/ .content-tramites-por-tema {
    -moz-border-radius-topright: 10px;
    background-color: #E8E8E9;
    background-repeat: no-repeat;
    height: 92px;
    width: 512px;
} .filter {
    margin: 15px 0;
} .filter .desplegable {
    background-color: #E8E8E9;
    font-weight: bold;
    line-height: 20px;
    margin: 5px 0;
    padding: 5px 10px;
} .filter .left {
    color: black;
    float: left;
    font-size: 12px;
    width: 255px;
} .filter .right {
    color: black;
    float: right;
    font-size: 12px;
    width: 246px;
} .pagination {
    color: #404042;
    font-weight: bold;
    height: 20px;
    margin: 10px 0;
    text-align: right;
} .combos {
    background-color: #E8E8E9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 20px;
    margin-top: 5px;
    /*padding-left:8px;*/
    width: 248px;
}

/*manejo de botones*/ .botonOff {
    /*-moz-opacity:1.0;*/
    opacity: 1.0;
    filter: alpha( opacity = 100);
    /*width:50%;*/
} .botonOn {
    /*-moz-opacity:0.5 ;*/
    /*opacity: 100%;*/
    /*width:100%;*/
    opacity: 0.5;
    filter: alpha( opacity = 50);

-moz-outline-color:
    #ffffff;
}

/*para la paginacion */ #loading {
    width: 100%;
    position: absolute;
} .clase_li_pagination {
    list-style: none;
    float: left;
    margin-right: 16px;
    padding: 5px;
    /*color: #0063DC;*/
    color: #404042;
    font-weight: bold;
    height: 30px;
    /*margin:10px 0;*/
    /*text-align:right;*/
} .clase_li_pagination:hover {
    /*color: #FF0084;*/
    cursor: pointer;
    color: #da1a34 !important;
} .clase_li_pagination .selected {
    cursor: pointer;
    color: #da1a34 !important;
}

/*
 * scroll tramites
 */ #div_texto_tramite {
    overflow: auto;
    height: 1000px;
    max-height: 999px;
    margin-left: 15px;
    margin-right: 5px;
    width: 97%;
} #div_texto_tramite li {
    margin-left: 15px;
} #sociales li {
    margin-left: 0px;
}


@media all {
   div.saltopagina{
      display: none;
   }
}
   
@media print{
   div.saltopagina{
      display:block;
      page-break-before:always;
   }
} 

