body{
	background-color:#FFF;
	color:#333;
}
.containerGral {
	background-color:#FFF;
	border-left: solid 1px #CCC;
	border-right: solid 1px #CCC;
	background-image:url(http://www.afip.gov.ar/home/images/edificioTranspBlanco.jpg);
	
}
.containerGral2 {
	background-color:#FFF;
}
#logo{
	float:left;
	width: 240px;
	padding: 100px 0px 20px 0px;
	background-image:url("../images/logos/logoBlanco.png");
    background-repeat: no-repeat;
	background-position:bottom;
	background-position:left;
}
A{
	color:#333;
}
A.perfiles{
	color: #3EADCE;
}
#idiomas{
	border: 1px #ccc solid;
}
ul.contenidoColumna{
	color:#333;
}
ul.contenidoColumna li{
	border-bottom: solid  1px #CCC;
}
ul.contenidoColumna li:hover{
	background-color: #CCC;
}
.cajaNota{
	color:#333;
	border:solid 1px #CCC;
}
.panelNoticias{
	color: #333;
}
.tituloNoticia{
	color: #5EBBD7;
}
.separa{
	border-bottom: solid #CCC 1px;
}
.textoResaltadoGris{
	background-color:#666;
	color:#FFF;
	width:100%;
	padding: 1px 6px 1px 6px;
	font-weight:bold;
}
.aviso{
	float:left;
	background-color:#000;
	width:95%;
	color:#F60;
	padding: 20px 20px 20px 20px;
	font-size: 12px;
	margin: 0px 2px 20px 4px;
}
.fondoTexto{
	text-decoration:underline;
	
}